
<center class="center">
<div>
今日の学習は終了!!
</div>
<%= link_to "トップ", root_url, class: "btn btn-sm, btn-outline-primary" %>
</center>


    
<style>
.center {
  margin-top: 220px;
  font-size: 90px;
}
</style>