<%#= https://medium.com/@lh62594/passing-params-in-rails-75dcb94470c4 %>
<center>
<h1><%= @question.ex_top + @question.yomi + @question.ex_bottom %></h1>

<%= link_to "答え表示", quiz_answer_path(id: @progress.id), class: 'btn btn-lg btn-outline-primary' %>

<%= render 'question_counter', count_left_new: @count_total_new, count_left_review: @count_left_review %>

</center>
