
<div class="vertical-writing">
<h2>テスト</h2>
<% @review_questions.each do |question|  %>
<p><%= question.ex_top + question.yomi + question.ex_bottom %> </p>
<% end %>
<p>hogehogehoge</p>
<p>hogehogehoge</p>
<p>hogehogehoge</p>
</div>

