

<center>
    <h1>学習の仕方の説明</h1>
    <%#= link_to "テスト形式で始める", test_question_path, class:  'btn btn-lg btn-outline-primary' %>
    <%= link_to "クイズ形式で始める", quiz_question_path, class:  'btn btn-lg btn-outline-primary' %>
</center>
