

<center>
    <h1>漢検に向けて学習する</h1>
    <%= link_to "Yes", plan_kanken_path, class:  'btn btn-lg btn-outline-primary' %>
    <%= link_to "No", plan_levels_path, class:  'btn btn-lg btn-outline-primary' %>
</center>
